.card {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  text-align: left;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  background-color: #ffffff;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-add {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-complete {
  background-color: #28a745;
  color: #ffffff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-incomplete {
  background-color: #ed9121;
  color: #ffffff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #b30036;
  color: #fff;
}

.btn-register-task {
  background-color: #28a745;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.button-space {
  width: 10px;
}

.button-container {
  display: flex;
  align-items: center;
  text-align: center;
}

.navbar {
  background-color: rgb(255, 0, 30);
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  text-align: right;
}

.user-info p {
  font-weight: bold;
}

.user-info button {
  background-color: #fff;
  color: #007bff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.user-info button:hover {
  background-color: #e1e1e1;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
  background-color: #D5CDCC;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #d32a2a;
  position: relative;
}

.nav>.nav-header {
  display: inline;
}

.nav>.nav-header>.nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
}

.nav>.nav-btn {
  display: none;
}

.nav>.nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav>.nav-links>a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav>.nav-links>a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
  display: none;
}

@media (max-width:800px) {
  .nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nav>.nav-btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav>.nav-btn>label:hover,
  .nav #nav-check:checked~.nav-btn>label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav>.nav-btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nav>.nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  .nav>.nav-links>a {
    display: block;
    width: 100%;
  }

  .nav>#nav-check:not(:checked)~.nav-links {
    height: 0px;
  }

  .nav>#nav-check:checked~.nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.card-login {
  width: 100%;
  max-width: 350px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow-x: auto;
  margin-bottom: 130px;
}

.card-login h1 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.card-login form {
  text-align: center;
}

.card-login .btn-register {
  background-color: #28a745;
}

.card-login .btn-register:hover {
  background-color: #218838;
}

.card-login {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th,
.custom-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.custom-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.custom-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.custom-table tr:hover {
  background-color: #ddd;
}

.custom-search {
  width: 20%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.custom-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.custom-button,
.custom-export,
.custom-mark-all-as-complete,
.custom-mark-all-as-incompleted,
.custom-delete-selected
{
  margin-left: 10px;
}

.button-container-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.btn-export {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-group {
  margin-bottom: 15px;
}

.center-card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}

.custom-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
}

.btn-delete {
  background-color: #b30036;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .custom-delete-selected {
    width: 100%;
    max-width: 200px;
    background-color: #b30036;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right:20%;
    left:-10%;
    position: relative;
  }
}

.custom-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
}

.flash {
  background-color: #28a745;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  display: none;
}

.notification {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #28a745;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  display: none;
  transition: all 0.3s ease;
}

.table-th-customize {
  width: 10px;
  text-align: center; vertical-align: middle;
}

.input-checkbox {
  margin-left: 25px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left;
}

.btn-complete,
.btn-incomplete,
.btn-cancel,
.btn-delete {
  margin-right: 10px;
}

.btn-delete {
  background-color: #b30036;
  color: #ffffff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10x;
}

.btn-cancel {
  background-color: #007bff;
  color: #ffffff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10x;
}

.btn-delete-container {
  margin-top: 5px;
  margin-left: 10px;
  white-space: nowrap;
}

.profile-image {
  width: 30px;
  height: auto;
  margin-top: 10px;
}

.about-me {
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
}

.about-me-header {
  text-align: center;
}

.about-me-header h2 {
  font-size: 24px;
  color: #333;
}

.about-me-content {
  margin-top: 20px;
  text-align: center;
}

.my-photo {
  width: 200px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}

.page-footer {
  background-color: #333;
  color: #fff;
  padding: 1px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}

@media (max-width: 320px) {
  .page-footer {
    height: 50px; 
    padding: 1px 0; 
    font-size: 8px;
  }
}


.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img {
  max-width: 100px;
  height: auto;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.footer-social a {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.custom-search {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid red;
  width: 100%;
  margin-bottom: 15px;
}

.task-list-container {
  display: flex;
  align-items: center;
}

h2 {
  margin-right: 10px;
}

.task-list {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card-table {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 20px;
  overflow-x: auto;
  margin-bottom: 70px;
}

.notification-error {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #a7283b;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  display: none;
  transition: all 0.3s ease;
}

.position-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
}

.modal-dialog {
  width: 400px;
}

.bg-white {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.modal.show {
  display: block !important;
}

.modal-footer {
  margin-left: 240px;
}

.modal-body {
  margin-left: 60px;
}

.table-container {
  overflow-x: auto;
  width: 100%;
}

.table-container table {
  width: 100%;
}
.v-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  white-space: nowrap;
}

.v-pagination .pagination-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.v-pagination .pagination-btn:hover {
  background-color: #007bff;
  color: #fff;
}

.v-pagination .pagination-btn.active {
  background-color: #007bff;
  color: #fff;
}

.btn-add,
.btn-register-task,
.custom-delete-selected,
.btn-export {
  margin-top: 10px;
}

.btn-export,
.btn-add {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .btn-export,
  .btn-register-task,
  .custom-delete-selected,
  .btn-add {
    width: 100%; 
    margin-right: 0;
  }
}
